:root {
    --gap: 12px;
    --cell-bg: #ddd;
}


body {
    margin: 0;

    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    background: #6a4a34;
    background-image: url("Aesprite_Assets/blossom.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;

}

header {
    /* background-color: rgb(255, 240, 224); */
    background-image: url("Aesprite_Assets/headerdesign.png");
    background-position: center center;
    background-size: cover;
    background-color: #ffe6cb;
    height: 12vh;
    top: 0;
    padding: 4em;
    width: 100%;
    border-bottom: 6px solid #94BDB1;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    /* pushes logo left, buttons right */
    align-items: center;
    /* vertically centers both */
    padding: 0 40px 0 40px;
    /* <-- left & right padding */
}

#Logo {
    background-image: url("Aesprite_Assets/Logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-start;
    width: 50px;
    height: 90px;
    background-color: #6a4a3400;
    border: none;
    justify-content: center;

}

#Logo:hover {
    transform: translatey(-10px);
}

.Logo-container {
    width: fit-content;
    display: inline-flex;
    align-self: center;
}

.Directory-container {
    display: inline-flex;
    padding-right: 100px;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.Directory {
    background-color: #a6cfc6;
    border-radius: 4em;
    border: 2px solid #326568;
    font-size: 16px;
    height: 3em;
    width: 8em;
    align-items: center;
    justify-content: center;
}

.Directory:hover {
    background-color: #eee;
}

button>.arrow {
    font-size: 12px;
    align-items: center;
    justify-content: center;
    background-color: #f4d7b5;
}

.container {
    display: flex;
    background-image: url("Aesprite_Assets/Letterwindow.png");
    background-position: center;
    width: 79vw;
    height: 67vh;
    margin-top: 5em;
    justify-self: center;
    align-self: center;
    border: 6px dashed brown;
}

.left-wrapper {
    scrollbar-color: #6a4a34;
    display: flex;
    flex-direction: column;
}

.scrollBox {
    height: 67vh;
    padding: 0 2em 0 2em;
}

#scrollContainer {
    overflow-y: auto;
}

#scrollContainer::-webkit-scrollbar {
    width: 12px;
}

#scrollContainer::-webkit-scrollbar-track {
    background: #886957;
    border: 2px solid #886957;
}

#scrollContainer::-webkit-scrollbar-thumb {
    background: #6a4a34;
    border: solid #32656800;
    max-height: 10px;
    border-radius: 5px;

}

#scrollContainer::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}

.thumb {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.img-box {
    position: relative;
}

.gif {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    transform: rotate(5deg);
}

.img-box.active .gif {
    opacity: 1;
}


.arrow {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    border-radius: 1em;
    font-size: 20px;
    border: none;
    background: #eee;
}

.arrow:hover {
    background-color: #a6cfc6;
}

.left-column {
    background-color: #ccb186;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
    width: 250px;
}

.left-column img {

    display: flex;
    width: 200px;
    height: 330px;
    cursor: pointer;
    border-radius: 6px;
    flex-shrink: 0;
    transition: transform 0.2s;
    transform: rotate(0deg);
}

.left-column img:hover {
    transform: rotate(-5deg);
}

.img-box {
    background-color: #ccb186;
    display: flex;
    justify-content: center;
}

.img-box.active img {
    transform: rotate(-5deg);
}


#detailImageContainer {
    text-align: center;
}

#detailTitle {
    font-size: 1.5vw;
    display: flex;
    justify-content: flex-start;
}

#detailImage {
    max-width: 300;
    background-color: #dabd9800;
    height: 400px;
    border-radius: 6px;
    padding: 0em 1em 0 4em;
}

#detailText {
    text-align: center;
    font-size: 1.1vw;
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-all;
    justify-content: center;
}

#detailLink {
    background-color: #a6cfc6;
    border-radius: 4em;
    border: 2px solid #326568;
    font-size: 16px;
    height: 3em;
    width: 13em;
    align-items: center;
    justify-content: center;
}

#detailLink:hover {
    background-color: #eee;
}

.projectSummary {
    padding: 0 4em 0em 1em;
    display: block;
    text-align: end;
    width: 100%;
}

.right-column {
    width: 100%;
    border: none;
    padding: 0 0em 1em 0;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    display: inline-flex;
}